/node_modules
/public/hot
/public/storage
/public/assets
/public/images
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/uploads
.DS_Store
/resources/fonts
vendor.zip
.vscode
